Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL :RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS).
     These databases have fixed or static or predefined schema	
     These databases are not suited for hierarchical data storage.
     These databases are best suited for complex queries.
     Vertically Scalable	

NoSQL:Non-relational or distributed database system.
      They have dynamic schema.
      These databases are best suited for hierarchical data storage.
      These databases are not so good for complex queries.
      Horizontally scalable

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

 Ans :A data definition language (DDL) is a computer language used to create and modify the structure of database objects       in a database.

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

DROP TABLE Persons;

ALTER TABLE Persons
ADD Email varchar(255);

In [ ]:
TRUNCATE TABLE Persons;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: A DML can access, store, change, update and remove existing folders from the database using DML commands.

Insert into Persons(PersonID, LastName,FirstName,Address,City)
Values(1,'Durgad','Vaibhav','Nimbarga','Gulbarga')

UPDATE Persons
SET FirstName='Vinayak'
where PersonsID=1;

Delete from Persons where FirstName='Vinayak';

Q4. What is DQL? Explain SELECT with an example.

Ans: DQL is one of the finest SQL commands that is used to fetch the data from the database.

select * from Persons where PersonID=1;

Q5. Explain Primary Key and Foreign Key.

Ans :A primary key generally focuses on the uniqueness of the table. 
     It assures the value in the specific column is unique.
     Table allows only one primary key.
     A foreign key is generally used to build a relationship between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
Ans: 
    FROM clause
    ON clause
    OUTER clause
    WHERE clause
    GROUP BY clause
    HAVING clause
    SELECT clause
    DISTINCT clause
    ORDER BY clause
    TOP clause